/*

BOX
Largura
conteudo da caixa

Espacamentos
Bordas 
Preenchimentos 

Posicionamentos


Cascading StyleSheet

*/

body {
    background:rgb(240, 229, 229); 
    color: rgb(36, 34, 34); 

   

    margin: 0;
} 


#container{
    width: 80%;
    max-width: 980px;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    
}

#intro {
    width: 300px;

    margin-right: 20px;
}

main {
    margin-top: 32px;
    margin-bottom: 32px;
}

#buttons{
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 32px;
}

button {

}

button {
    color: #ff5e84;
    
    border: none; 
    
    font-weight: bold;
    background: none;
}

button.fat {
    color: white;
    background: #ff5e84;
}


footer {
    text-align: center;
    
}
#footer a {
    color: #252b2b;
    text-decoration: none;

}

.hide {
    display: none;
}
